@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	list-style:none;
	text-decoration:none;
}

.over_header{
	width: 100%;
	height: 50px;
	display: block;
	background-color: #9CB4E3;
}

.loginButton{
	background-color: #9CB4E3;
	border: 5px;
  	color: white;
  	text-align: right;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 18px;
  	padding: 15px 20px;
  	cursor: pointer;
  	width: 100%;
  	font-family: Arial;	
}

.header{
	width: 100%;
	height: 160px;
	display: block;
	background-color: #9CB4E3;
}

.DietiDeals24_header{
	width: 1000px;
	height: 100%;
	display: block;
	margin: 0 auto;
	background-color: #9CB4E3;
	font-family:  Comic Sans;
	font-size: 125px;
	color: white;
	text-align: center;
}

.under-header {
  overflow: hidden;
  background-color: #9CB4E3;
  font-family: Arial;
}

/* Links dentro-la-navbar */
.under-header a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.free_space{
	width: 35%;
	height: 160px;
	overflow: hidden;
  	background-color: red;
  	margin: left;
  	
}

/* Container-dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

/* bottone-dropdown */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/*Il-dropdown-diventa-blu-quando-lo-clicco */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #1A1170;
}

/* Contenuti-nel-dropdown (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/*Opzioni-nel-dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/*Sfondo-grigio quando-vai col-cursore sopra-le opzioni-del-dropdown*/
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}