@charset "UTF-8";

.headerVenditore{
	display: flex;
  	 align-items: stretch;
  	justify-content: center; 
	margin: 20px 22%;
	width:55%;
	height: 250px;
	background: #9CB4E3;
}

.headerVenditore h2{
	text-align:left;
	padding:10px 20px;
	color: white;
}

.headerVenditore p{
	text-align:left;
	padding:10px 20px;
	color: white;
}

.divSX{
	width: 30%;
	height: 100%;
	text-align:center;
	font-family:Gotham;
	overflow:hidden
}

.divDX{
	width: 70%;
	text-align:left;
	font-family:Gotham;	
	margin: 10px auto;
}

h4 {
	text-align:left;
	padding:5px 20px;
	color: white;
	font-family:Gotham;
	font-size: 20px;
}

.nomeVenditore{
	text-align:left;
	padding:5px 20px;
	color: white;
	font-family:Gotham;
	font-size: 30px;
}

.immagineVenditore{
	display:block;
	width: 230px;
  	padding: 0 20%;
    object-fit: cover;
    margin: 10px;
	}
	
.immagineProfiloUtente{
	width: 100%;
	height: 100%;
    object-fit: contain;
	text-align:center;
}
	
.iconaLink{
	color:white;
	color: white;
	font-family:Serif;
	text-align:left;
	padding:5px 20px;
}
.iconaLink:hover {
	color: #1A1170;
  	cursor: pointer;
  	text-decoration: underline;
}

.asteVenditore{
	text-align:center;
	font-family:Gotham;	
	margin: 20px;
	font-size: 40px;
	color: #1A1170;
}