h1{
	text-align:center;
	font-family:Gotham;
	font-size: 30px;
	margin: 20px 0 0 0;
}

.background{
	display: flex;
  	align-items: flex-start;
  	justify-content: center; 
	margin: 0 15%;
	width:70%;
	height: 750px;	
}

.flex-diviso2{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width:100%; 
}

.flex-diviso2 .divSX{
	width: 40%;
	text-align:center;
	font-family:Gotham;
	padding:30px;
	overflow:hidden
}

.flex-diviso2 .divDX{
	width: 60%;
	text-align:center;
	font-family:Gotham;
	padding:30px;	
}

.immagineAsta{
	display:block;
	object-fit: cover;
  	width: 100%;
  	height: 100%;
  	margin: 0 auto;
	}

.squareInfoAsta{
	font-family:Gotham;
	padding:15px 35px;
	background: #9CB4E3;
}

.squareInfoAsta h1{
	font-size: 35px;
	color:white;
}

.squareInfoAsta h2{
	font-size: 40px;
	color:white;
  	padding:5px 0;
}

.squareInfoAsta h3{
	font-size: 20px;
	color:white;
	text-align: right;
  	padding:5px 0;
}

.squareInfoAsta h4{
	font-size: 35px;
	color:white;
  	padding:5px 0;
}

.Offerta{
	background: #1A1170;
	text-align:center;
	color: white;
	font-family:Gotham;
	font-size: 40px;
  	cursor: pointer;
  	text-align:center;
  	padding: 5px;
  	width: 90%;
  	margin: 0 auto 30px auto;
}

.descrizioneAsta{
	margin: 10px 0;
	padding: 10px;
	border:2px solid black;
	text-align:center;
	font-family:Gotham;
	font-size: 18px;
	height: auto;
}

.profiloVenditore{
	display: flex;
	background: #9CB4E3;
	max-width: 100%; 
	height: 250px;
	
}

.fotoVenditore{
	display:block;
	width: 35%;
	height:auto;
  	padding: auto;
  	float: right;
    object-fit: cover;
  	margin: 10px;
	
}

.nomeVenditore{
	color: white;
	width: 55%;
	height: 50%;
	text-align:center;
	font-family:Gotham;
	font-size: 30px;
	margin:20px 0 0 0;
}

.scrittaVisitaProfilo{
	text-align:bottom right;
	font-family:Gotham;
	font-size: 18px;
	text-decoration: underline;	
	width:auto;
	margin:210px 10px 0 -100px;
}

.profiloVenditore .scrittaVisitaProfilo:hover {
  	color: white;
  	cursor: pointer;
}



