<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>DietiDeals24</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUtente</display-name>
    <servlet-name>LoginUtente</servlet-name>
    <servlet-class>servlet.LoginUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUtente</servlet-name>
    <url-pattern>/LoginUtente</url-pattern>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUtente2Servlet</display-name>
    <servlet-name>LoginUtente2Servlet</servlet-name>
    <servlet-class>servlet.LoginUtente2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUtente2Servlet</servlet-name>
    <url-pattern>/LoginUtente2Servlet</url-pattern>
    <url-pattern>/loginpt2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNuovaAsta</display-name>
    <servlet-name>AddNuovaAsta</servlet-name>
    <servlet-class>servlet.AddNuovaAsta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNuovaAsta</servlet-name>
    <url-pattern>/AddNuovaAsta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RilancioAstaServlet</display-name>
    <servlet-name>RilancioAstaServlet</servlet-name>
    <servlet-class>servlet.RilancioAstaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RilancioAstaServlet</servlet-name>
    <url-pattern>/RilancioAstaServlet</url-pattern>
  </servlet-mapping>
</web-app>